In [1]:
class Student:
    name="Prathmesh YadavPatil"
    age=22
s=Student()
print("Name : ",s.name)
print("Age : ",s.age)

Name :  Prathmesh YadavPatil
Age :  22

In [2]:
class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
s=Student("Ram",21)
print("Name : ",s.name)
print("Age : ",s.age)

Name :  Ram
Age :  21

In [3]:
class Employee:
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
    def show(self):
        print("Employee name : ",self.name)
        print("Employee salary : ",self.salary)
e=Employee("Pratham",80000)
e.show()

Employee name :  Pratham
Employee salary :  80000

In [4]:
class Student:
    def __init__(self,name,roll,grade):
        self.name=name
        self.roll=roll
        self.grade=grade
    def show(self):
        print("Student name : ",self.name)
        print("Student roll no : ",self.roll)
        print("Student grade : ",self.grade)
s=Student("Tom",4109,"A")
s.show()

Student name :  Tom
Student roll no :  4109
Student grade :  A