In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("Hospital_Patient_Data.csv")

In [5]:
df.head

<bound method NDFrame.head of     Patient_ID    Name   Age  Gender   Department Doctor_Name Admission_Date  \
0        P0001   Pooja  48.0       M  Orthopedics   Dr. Patil     09-04-2024
1        P0002   Rahul   NaN       F   Cardiology   Dr. Singh     09-08-2024
2        P0003   Pooja   NaN       M    Neurology    Dr. Khan     29-09-2024
3        P0004   Rohan  52.0       F   Cardiology     Dr. Rao     08-06-2024
4        P0005   Kiran  56.0       M     Oncology   Dr. Patil     13-06-2024
..         ...     ...   ...     ...          ...         ...            ...
965      P0684   Pooja   NaN  Femael   Pediatrics    Dr. Khan     25-03-2024
966      P0102   Vikas  16.0  Female    Neurology   Dr. Patil     02-01-2024
967      P0783   Rahul  47.0       M   Cardiology    Dr. Khan     01-03-2024
968      P0836   Priya  20.0  Female    Neurology  Dr. Sharma     07-04-2024
969      P0095  Anjali  19.0       M  Orthopedics  Dr. Sharma     21-10-2024

    Discharge_Date       Diagnosis  Treatment_Cost Payment_Mode Room_Type  \
0       13-04-2024          Cancer               0         UPI    General
1       17-08-2024   Heart Disease           89123         Cash   Private
2       08-10-2024  Skin Infection               0          UPI   Generel
3       17-06-2024             NaN           14448    Insurance   Private
4       14-06-2024             NaN           84306          UPI   Private
..             ...             ...             ...          ...       ...
965     26-03-2024             NaN               0    Insurance   Private
966     07-01-2024          Cancer          131507        Cashh      Semi
967     07-03-2024             NaN               0         UPI       semi
968     12-04-2024             NaN          999999          UPI      Semi
969     31-10-2024          Asthma               0          UPI   General

           City Feedback
0      Kolhapur   averge
1    Aurangabad      NaN
2        Nagpur     good
3        Nagpur     good
4       Solapur      NaN
..          ...      ...
965     Solapur   averge
966      Mumbai     Good
967      Mumbai     Good
968      Nagpur   averge
969        Pune     Good

[970 rows x 14 columns]>

In [6]:
df.head(10)

,Patient_ID,Name,Age,Gender,Department,Doctor_Name,Admission_Date,Discharge_Date,Diagnosis,Treatment_Cost,Payment_Mode,Room_Type,City,Feedback
0,P0001,Pooja,48.0,M,Orthopedics,Dr. Patil,09-04-2024,13-04-2024,Cancer,0,UPI,General,Kolhapur,averge
1,P0002,Rahul,NaN,F,Cardiology,Dr. Singh,09-08-2024,17-08-2024,Heart Disease,89123,Cash,Private,Aurangabad,NaN
2,P0003,Pooja,NaN,M,Neurology,Dr. Khan,29-09-2024,08-10-2024,Skin Infection,0,UPI,Generel,Nagpur,good
3,P0004,Rohan,52.0,F,Cardiology,Dr. Rao,08-06-2024,17-06-2024,NaN,14448,Insurance,Private,Nagpur,good
4,P0005,Kiran,56.0,M,Oncology,Dr. Patil,13-06-2024,14-06-2024,NaN,84306,UPI,Private,Solapur,NaN
5,P0006,Vikas,NaN,Male,Orthopedics,Dr. Mehta,12-03-2024,21-03-2024,NaN,10845,Cash,General,Solapur,averge
6,P0007,Priya,NaN,F,Neurology,Dr. Patil,28-09-2024,01-10-2024,NaN,0,Insurance,General,Mumbai,NaN
7,P0008,Anjali,NaN,Femael,Orthopedics,Dr. Mehta,29-05-2024,03-06-2024,NaN,24856,UPI,semi,Nashik,good
8,P0009,Vikas,33.0,Femael,Cardiology,Dr. Patil,18-04-2024,19-04-2024,Fever,999999,Insurance,Generel,Kolhapur,NaN
9,P0010,Sneha,2.0,M,Neurology,Dr. Rao,27-02-2024,02-03-2024,Migraine,999999,INSURANCE,Private,Nashik,good

In [7]:
df.tail()

,Patient_ID,Name,Age,Gender,Department,Doctor_Name,Admission_Date,Discharge_Date,Diagnosis,Treatment_Cost,Payment_Mode,Room_Type,City,Feedback
965,P0684,Pooja,NaN,Femael,Pediatrics,Dr. Khan,25-03-2024,26-03-2024,NaN,0,Insurance,Private,Solapur,averge
966,P0102,Vikas,16.0,Female,Neurology,Dr. Patil,02-01-2024,07-01-2024,Cancer,131507,Cashh,Semi,Mumbai,Good
967,P0783,Rahul,47.0,M,Cardiology,Dr. Khan,01-03-2024,07-03-2024,NaN,0,UPI,semi,Mumbai,Good
968,P0836,Priya,20.0,Female,Neurology,Dr. Sharma,07-04-2024,12-04-2024,NaN,999999,UPI,Semi,Nagpur,averge
969,P0095,Anjali,19.0,M,Orthopedics,Dr. Sharma,21-10-2024,31-10-2024,Asthma,0,UPI,General,Pune,Good

In [8]:
df.tail(5)

,Patient_ID,Name,Age,Gender,Department,Doctor_Name,Admission_Date,Discharge_Date,Diagnosis,Treatment_Cost,Payment_Mode,Room_Type,City,Feedback
965,P0684,Pooja,NaN,Femael,Pediatrics,Dr. Khan,25-03-2024,26-03-2024,NaN,0,Insurance,Private,Solapur,averge
966,P0102,Vikas,16.0,Female,Neurology,Dr. Patil,02-01-2024,07-01-2024,Cancer,131507,Cashh,Semi,Mumbai,Good
967,P0783,Rahul,47.0,M,Cardiology,Dr. Khan,01-03-2024,07-03-2024,NaN,0,UPI,semi,Mumbai,Good
968,P0836,Priya,20.0,Female,Neurology,Dr. Sharma,07-04-2024,12-04-2024,NaN,999999,UPI,Semi,Nagpur,averge
969,P0095,Anjali,19.0,M,Orthopedics,Dr. Sharma,21-10-2024,31-10-2024,Asthma,0,UPI,General,Pune,Good

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970 entries, 0 to 969
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient_ID      970 non-null    object
 1   Name            970 non-null    object
 2   Age             514 non-null    float64
 3   Gender          970 non-null    object
 4   Department      970 non-null    object
 5   Doctor_Name     970 non-null    object
 6   Admission_Date  970 non-null    object
 7   Discharge_Date  970 non-null    object
 8   Diagnosis       504 non-null    object
 9   Treatment_Cost  970 non-null    int64
 10  Payment_Mode    970 non-null    object
 11  Room_Type       970 non-null    object
 12  City            970 non-null    object
 13  Feedback        822 non-null    object
dtypes: float64(1), int64(1), object(12)
memory usage: 106.2+ KB

In [10]:
df.describe()

              Age  Treatment_Cost
count  514.000000      970.000000
mean    45.550584   336971.670103
std     25.566227   446723.976568
min      1.000000        0.000000
25%     24.250000        0.000000
50%     46.000000    72719.500000
75%     68.000000   999999.000000
max     90.000000   999999.000000

In [12]:
df.columns

Index(['Patient_ID', 'Name', 'Age', 'Gender', 'Department', 'Doctor_Name',
       'Admission_Date', 'Discharge_Date', 'Diagnosis', 'Treatment_Cost',
       'Payment_Mode', 'Room_Type', 'City', 'Feedback'],
      dtype='object')

In [13]:
df["Age"]

0      48.0
1       NaN
2       NaN
3      52.0
4      56.0
       ...
965     NaN
966    16.0
967    47.0
968    20.0
969    19.0
Name: Age, Length: 970, dtype: float64

In [15]:
df[["Patient_ID","Age","Gender","Treatment_Cost"]]

    Patient_ID   Age  Gender  Treatment_Cost
0        P0001  48.0       M               0
1        P0002   NaN       F           89123
2        P0003   NaN       M               0
3        P0004  52.0       F           14448
4        P0005  56.0       M           84306
..         ...   ...     ...             ...
965      P0684   NaN  Femael               0
966      P0102  16.0  Female          131507
967      P0783  47.0       M               0
968      P0836  20.0  Female          999999
969      P0095  19.0       M               0

[970 rows x 4 columns]

# DATA CLEANING

In [19]:
df.isnull().sum
#if data is missing or having null value it shows true

<bound method DataFrame.sum of      Patient_ID   Name    Age  Gender  Department  Doctor_Name  \
0         False  False  False   False       False        False
1         False  False   True   False       False        False
2         False  False   True   False       False        False
3         False  False  False   False       False        False
4         False  False  False   False       False        False
..          ...    ...    ...     ...         ...          ...
965       False  False   True   False       False        False
966       False  False  False   False       False        False
967       False  False  False   False       False        False
968       False  False  False   False       False        False
969       False  False  False   False       False        False

     Admission_Date  Discharge_Date  Diagnosis  Treatment_Cost  Payment_Mode  \
0             False           False      False           False         False
1             False           False      False           False         False
2             False           False      False           False         False
3             False           False       True           False         False
4             False           False       True           False         False
..              ...             ...        ...             ...           ...
965           False           False       True           False         False
966           False           False      False           False         False
967           False           False       True           False         False
968           False           False       True           False         False
969           False           False      False           False         False

     Room_Type   City  Feedback
0        False  False     False
1        False  False      True
2        False  False     False
3        False  False     False
4        False  False      True
..         ...    ...       ...
965      False  False     False
966      False  False     False
967      False  False     False
968      False  False     False
969      False  False     False

[970 rows x 14 columns]>

In [20]:
df.isnull().sum()

Patient_ID          0
Name                0
Age               456
Gender              0
Department          0
Doctor_Name         0
Admission_Date      0
Discharge_Date      0
Diagnosis         466
Treatment_Cost      0
Payment_Mode        0
Room_Type           0
City                0
Feedback          148
dtype: int64

In [21]:
#fill null value
df["Age"].fillna(df["Age"].mean(),inplace=True)
df.head()

,Patient_ID,Name,Age,Gender,Department,Doctor_Name,Admission_Date,Discharge_Date,Diagnosis,Treatment_Cost,Payment_Mode,Room_Type,City,Feedback
0,P0001,Pooja,48.000000,M,Orthopedics,Dr. Patil,09-04-2024,13-04-2024,Cancer,0,UPI,General,Kolhapur,averge
1,P0002,Rahul,45.550584,F,Cardiology,Dr. Singh,09-08-2024,17-08-2024,Heart Disease,89123,Cash,Private,Aurangabad,NaN
2,P0003,Pooja,45.550584,M,Neurology,Dr. Khan,29-09-2024,08-10-2024,Skin Infection,0,UPI,Generel,Nagpur,good
3,P0004,Rohan,52.000000,F,Cardiology,Dr. Rao,08-06-2024,17-06-2024,NaN,14448,Insurance,Private,Nagpur,good
4,P0005,Kiran,56.000000,M,Oncology,Dr. Patil,13-06-2024,14-06-2024,NaN,84306,UPI,Private,Solapur,NaN

In [22]:
df.dropna(subset=["Condition"])

KeyError: ['Condition']

In [23]:
df["Gender"]= df["Gender"].replace({"Male":"M","Female":"F"})

In [24]:
df

,Patient_ID,Name,Age,Gender,Department,Doctor_Name,Admission_Date,Discharge_Date,Diagnosis,Treatment_Cost,Payment_Mode,Room_Type,City,Feedback
0,P0001,Pooja,48.000000,M,Orthopedics,Dr. Patil,09-04-2024,13-04-2024,Cancer,0,UPI,General,Kolhapur,averge
1,P0002,Rahul,45.550584,F,Cardiology,Dr. Singh,09-08-2024,17-08-2024,Heart Disease,89123,Cash,Private,Aurangabad,NaN
2,P0003,Pooja,45.550584,M,Neurology,Dr. Khan,29-09-2024,08-10-2024,Skin Infection,0,UPI,Generel,Nagpur,good
3,P0004,Rohan,52.000000,F,Cardiology,Dr. Rao,08-06-2024,17-06-2024,NaN,14448,Insurance,Private,Nagpur,good
4,P0005,Kiran,56.000000,M,Oncology,Dr. Patil,13-06-2024,14-06-2024,NaN,84306,UPI,Private,Solapur,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,P0684,Pooja,45.550584,Femael,Pediatrics,Dr. Khan,25-03-2024,26-03-2024,NaN,0,Insurance,Private,Solapur,averge
966,P0102,Vikas,16.000000,F,Neurology,Dr. Patil,02-01-2024,07-01-2024,Cancer,131507,Cashh,Semi,Mumbai,Good
967,P0783,Rahul,47.000000,M,Cardiology,Dr. Khan,01-03-2024,07-03-2024,NaN,0,UPI,semi,Mumbai,Good
968,P0836,Priya,20.000000,F,Neurology,Dr. Sharma,07-04-2024,12-04-2024,NaN,999999,UPI,Semi,Nagpur,averge
969,P0095,Anjali,19.000000,M,Orthopedics,Dr. Sharma,21-10-2024,31-10-2024,Asthma,0,UPI,General,Pune,Good