# Dictionary

In [6]:
#Dictionary declaration

stud={"name":"Prathmesh","age":22,"marks":{90,91,93},"College":"ADCET","name":"Prem"}
print(stud)

{'name': 'Prem', 'age': 22, 'marks': {90, 91, 93}, 'College': 'ADCET'}

In [7]:
print(stud["name"])

Prem

In [13]:
#get method

print(stud.get("marks"))

{90, 91, 93}

In [54]:
Employee={"Employee1":{"id":1,"name":"Pratham","Dept":"Data Analyst","salary":30000},                                              
          "Employee2":{"id":2,"name":"Prem","Dept":"Data Analyst","salary":20000},
          "Employee3":{"id":3,"name":"Prasad","Dept":"Data Scientist","salary":40000},
          "Employee4":{"id":4,"name":"Dhanraj","Dept":"Data Engineer","salary":35000},
          "Employee5":{"id":5,"name":"Saif","Dept":"Data Analyst","salary":25000}
         }
print(Employee)

{'Employee1': {'id': 1, 'name': 'Pratham', 'Dept': 'Data Analyst', 'salary': 30000}, 'Employee2': {'id': 2, 'name': 'Prem', 'Dept': 'Data Analyst', 'salary': 20000}, 'Employee3': {'id': 3, 'name': 'Prasad', 'Dept': 'Data Scientist', 'salary': 40000}, 'Employee4': {'id': 4, 'name': 'Dhanraj', 'Dept': 'Data Engineer', 'salary': 35000}, 'Employee5': {'id': 5, 'name': 'Saif', 'Dept': 'Data Analyst', 'salary': 25000}}

In [55]:
print(Employee.get("Employee1"))
print(Employee.get("Employee2"))
print(Employee.get("Employee3"))
print(Employee.get("Employee4"))
print(Employee.get("Employee5"))

{'id': 1, 'name': 'Pratham', 'Dept': 'Data Analyst', 'salary': 30000}
{'id': 2, 'name': 'Prem', 'Dept': 'Data Analyst', 'salary': 20000}
{'id': 3, 'name': 'Prasad', 'Dept': 'Data Scientist', 'salary': 40000}
{'id': 4, 'name': 'Dhanraj', 'Dept': 'Data Engineer', 'salary': 35000}
{'id': 5, 'name': 'Saif', 'Dept': 'Data Analyst', 'salary': 25000}

In [56]:
#keys method

print(Employee.keys())

dict_keys(['Employee1', 'Employee2', 'Employee3', 'Employee4', 'Employee5'])

In [57]:
#Values method

print(Employee.values())

dict_values([{'id': 1, 'name': 'Pratham', 'Dept': 'Data Analyst', 'salary': 30000}, {'id': 2, 'name': 'Prem', 'Dept': 'Data Analyst', 'salary': 20000}, {'id': 3, 'name': 'Prasad', 'Dept': 'Data Scientist', 'salary': 40000}, {'id': 4, 'name': 'Dhanraj', 'Dept': 'Data Engineer', 'salary': 35000}, {'id': 5, 'name': 'Saif', 'Dept': 'Data Analyst', 'salary': 25000}])

In [58]:
#items method

print(Employee.items())

dict_items([('Employee1', {'id': 1, 'name': 'Pratham', 'Dept': 'Data Analyst', 'salary': 30000}), ('Employee2', {'id': 2, 'name': 'Prem', 'Dept': 'Data Analyst', 'salary': 20000}), ('Employee3', {'id': 3, 'name': 'Prasad', 'Dept': 'Data Scientist', 'salary': 40000}), ('Employee4', {'id': 4, 'name': 'Dhanraj', 'Dept': 'Data Engineer', 'salary': 35000}), ('Employee5', {'id': 5, 'name': 'Saif', 'Dept': 'Data Analyst', 'salary': 25000})])

In [59]:
#pop method

print(Employee.pop("Employee1"))

{'id': 1, 'name': 'Pratham', 'Dept': 'Data Analyst', 'salary': 30000}

In [60]:
print(Employee)

{'Employee2': {'id': 2, 'name': 'Prem', 'Dept': 'Data Analyst', 'salary': 20000}, 'Employee3': {'id': 3, 'name': 'Prasad', 'Dept': 'Data Scientist', 'salary': 40000}, 'Employee4': {'id': 4, 'name': 'Dhanraj', 'Dept': 'Data Engineer', 'salary': 35000}, 'Employee5': {'id': 5, 'name': 'Saif', 'Dept': 'Data Analyst', 'salary': 25000}}

In [61]:
#update method

print(Employee["Employee4"].update({"salary":60000}))
print(Employee)

None
{'Employee2': {'id': 2, 'name': 'Prem', 'Dept': 'Data Analyst', 'salary': 20000}, 'Employee3': {'id': 3, 'name': 'Prasad', 'Dept': 'Data Scientist', 'salary': 40000}, 'Employee4': {'id': 4, 'name': 'Dhanraj', 'Dept': 'Data Engineer', 'salary': 60000}, 'Employee5': {'id': 5, 'name': 'Saif', 'Dept': 'Data Analyst', 'salary': 25000}}

In [62]:
#clear method

print(Employee.clear())
print(Employee)

None
{}