# 1)Print numbers from 1 to 10 using for loop.

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# 2)Print numbers from 10 to 1 (reverse order).

In [7]:
n=10
for i in range(n,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

# 3)Print all even numbers between 1 to 50.

In [9]:
for i in range(0,52,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

# 4)Print all odd numbers between 1 to 50.

In [11]:
for i in range(1,50,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

# 5)Find sum of numbers from 1 to 100.

In [13]:
sum=0

for i in range (0,100):
    sum+=i
    print(sum)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950

# 6)Find factorial of a number (example: 5 â†’ 120).

In [14]:
n = int(input("Enter a number: "))
fact = 1

for i in range(1, n + 1):
    fact *= i

print("Factorial =", fact)

Enter a number:  5

Factorial = 120

# 7)Print multiplication table of a given number.

In [17]:
a=int(input("Enter a number : "))
for i in range(1,11):
      print(n, "x", i, "=", n * i)

Enter a number :  5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# 8)Count how many numbers are divisible by 3 between 1 to 100.

In [21]:
count=0
for i in range(1,100):
    if i % 3==0:
        count+=1
print("Number divisible by 3 are : ",count)

Number divisible by 3 are :  33

# 9)Print square of numbers from 1 to 10.

In [22]:
for i in range(1,11):
    print("Square of ",i,"is",i*i)

Square of  1 is 1
Square of  2 is 4
Square of  3 is 9
Square of  4 is 16
Square of  5 is 25
Square of  6 is 36
Square of  7 is 49
Square of  8 is 64
Square of  9 is 81
Square of  10 is 100

# 10)Take a string and print each character using for loop.

In [23]:
sen=input("Enter a string : ")
for i in sen:
    print(i)

Enter a string :  Python

P
y
t
h
o
n