In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("students (2).csv")

In [4]:
#Display first 10 records.
df.head(10)

,Student_ID,Name,Gender,Age,Department,Semester,Attendance_Percentage,Internal_Marks,External_Marks,Project_Score,Final_Result
0,1001,Student_1,M,NaN,Computer,3,90.0,52,62.0,66,Fail
1,1002,Student_2,F,19,Civil,1,93.0,38,86.0,93,Pass
2,1003,Student_3,Male,19,Computer,6,47.0,41,50.0,56,Fail
3,1004,Student_4,M,21,Civil,5,66.0,30,46.0,48,Fail
4,1005,Student_5,M,19,Mechanical,4,66.0,87,59.0,72,Pass
5,1006,Student_6,F,19,Mechanical,2,60.0,30,86.0,92,Pass
6,1007,Student_7,Male,twenty,Mechanical,6,69.0,63,87.0,59,Pass
7,1008,Student_8,Male,21,IT,6,67.0,77,57.0,52,Fail
8,1009,Student_9,M,twenty,Civil,3,103.0,30,50.0,67,Pass
9,1010,Student_10,Female,NaN,IT,1,100.0,45,91.0,87,Pass

In [5]:
# Display last 5 records.
df.tail(5)

,Student_ID,Name,Gender,Age,Department,Semester,Attendance_Percentage,Internal_Marks,External_Marks,Project_Score,Final_Result
100,1006,Student_6,F,19,Mechanical,2,60.0,30,86.0,92,Pass
101,1007,Student_7,Male,twenty,Mechanical,6,69.0,63,87.0,59,Pass
102,1008,Student_8,Male,21,IT,6,67.0,77,57.0,52,Fail
103,1009,Student_9,M,twenty,Civil,3,103.0,30,50.0,67,Pass
104,1010,Student_10,Female,NaN,IT,1,100.0,45,91.0,87,Pass

In [7]:
# Find the total number of rows and columns.
df.shape

(105, 11)

In [8]:
# Display column names
df.columns

Index(['Student_ID', 'Name', 'Gender', 'Age', 'Department', 'Semester',
       'Attendance_Percentage', 'Internal_Marks', 'External_Marks',
       'Project_Score', 'Final_Result'],
      dtype='object')

In [11]:
# Check data types of each column.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Student_ID             105 non-null    int64
 1   Name                   105 non-null    object
 2   Gender                 105 non-null    object
 3   Age                    81 non-null     object
 4   Department             105 non-null    object
 5   Semester               105 non-null    int64
 6   Attendance_Percentage  103 non-null    float64
 7   Internal_Marks         105 non-null    int64
 8   External_Marks         104 non-null    float64
 9   Project_Score          105 non-null    int64
 10  Final_Result           105 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 9.2+ KB

In [12]:
# Show summary statistics using describe().
df.describe()

,Student_ID,Semester,Attendance_Percentage,Internal_Marks,External_Marks,Project_Score
count,105.000000,105.00000,103.000000,105.000000,104.000000,105.000000
mean,1048.476190,3.40000,75.844660,62.542857,67.788462,68.761905
std,29.732168,1.77374,18.682464,20.998182,18.962750,18.105207
min,1001.000000,1.00000,41.000000,30.000000,35.000000,40.000000
25%,1022.000000,2.00000,60.000000,45.000000,50.750000,52.000000
50%,1048.000000,3.00000,75.000000,62.000000,70.000000,68.000000
75%,1074.000000,5.00000,93.000000,80.000000,86.000000,87.000000
max,1100.000000,6.00000,104.000000,98.000000,100.000000,98.000000

In [13]:
#Check total missing values in each column.
df.isna().sum()

Student_ID                0
Name                      0
Gender                    0
Age                      24
Department                0
Semester                  0
Attendance_Percentage     2
Internal_Marks            0
External_Marks            1
Project_Score             0
Final_Result              0
dtype: int64

In [14]:
# Select only Name, Department, and Final_Result columns.
df[["Name","Department","Final_Result"]]

           Name  Department Final_Result
0     Student_1    Computer         Fail
1     Student_2       Civil         Pass
2     Student_3    Computer         Fail
3     Student_4       Civil         Fail
4     Student_5  Mechanical         Pass
..          ...         ...          ...
100   Student_6  Mechanical         Pass
101   Student_7  Mechanical         Pass
102   Student_8          IT         Fail
103   Student_9       Civil         Pass
104  Student_10          IT         Pass

[105 rows x 3 columns]

In [15]:
# Filter students who scored more than 80 in External Marks.
df[df["External_Marks"]>80][["Name","External_Marks"]]

            Name  External_Marks
1      Student_2            86.0
5      Student_6            86.0
6      Student_7            87.0
9     Student_10            91.0
11    Student_12            87.0
13    Student_14            92.0
20    Student_21            92.0
28    Student_29            84.0
30    Student_31           100.0
36    Student_37            99.0
43    Student_44            95.0
44    Student_45            88.0
51    Student_52            92.0
53    Student_54            95.0
57    Student_58            96.0
58    Student_59            97.0
60    Student_61            90.0
64    Student_65            92.0
69    Student_70            95.0
70    Student_71            81.0
75    Student_76            91.0
77    Student_78            81.0
78    Student_79            83.0
83    Student_84            88.0
86    Student_87            91.0
94    Student_95            92.0
95    Student_96            94.0
96    Student_97            84.0
99   Student_100            98.0
100    Student_6            86.0
101    Student_7            87.0
104   Student_10            91.0

In [16]:
# Remove duplicate records.
df=df.drop_duplicates()

In [17]:
# Fill missing values in Attendance column with mean.
df['Attendance_Percentage']=df["Attendance_Percentage"].fillna(df["Attendance_Percentage"].mean())
df

C:\Users\patuy\AppData\Local\Temp\ipykernel_7796\3666468043.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Attendance_Percentage']=df["Attendance_Percentage"].fillna(df["Attendance_Percentage"].mean())

,Student_ID,Name,Gender,Age,Department,Semester,Attendance_Percentage,Internal_Marks,External_Marks,Project_Score,Final_Result
0,1001,Student_1,M,NaN,Computer,3,90.0,52,62.0,66,Fail
1,1002,Student_2,F,19,Civil,1,93.0,38,86.0,93,Pass
2,1003,Student_3,Male,19,Computer,6,47.0,41,50.0,56,Fail
3,1004,Student_4,M,21,Civil,5,66.0,30,46.0,48,Fail
4,1005,Student_5,M,19,Mechanical,4,66.0,87,59.0,72,Pass
...,...,...,...,...,...,...,...,...,...,...,...
95,1096,Student_96,Female,NaN,Civil,6,102.0,78,94.0,98,Pass
96,1097,Student_97,Female,NaN,Mechanical,6,58.0,41,84.0,89,Fail
97,1098,Student_98,F,22,Civil,6,97.0,90,62.0,51,Fail
98,1099,Student_99,Female,NaN,Mechanical,6,94.0,48,75.0,40,Fail
99,1100,Student_100,Male,20,Mechanical,5,101.0,38,98.0,93,Pass

In [20]:
# Replace missing marks with median value.
df['External_Marks']=df["External_Marks"].fillna(df["External_Marks"].median())

C:\Users\patuy\AppData\Local\Temp\ipykernel_7796\275815111.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['External_Marks']=df["External_Marks"].fillna(df["External_Marks"].median())

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Student_ID             100 non-null    int64
 1   Name                   100 non-null    object
 2   Gender                 100 non-null    object
 3   Age                    77 non-null     object
 4   Department             100 non-null    object
 5   Semester               100 non-null    int64
 6   Attendance_Percentage  100 non-null    float64
 7   Internal_Marks         100 non-null    int64
 8   External_Marks         100 non-null    float64
 9   Project_Score          100 non-null    int64
 10  Final_Result           100 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 9.4+ KB

In [22]:
# Standardize Gender column (convert all variations to Male/Female).
df["Gender"]=df["Gender"].replace({"F":"Female","M":"Male"})

C:\Users\patuy\AppData\Local\Temp\ipykernel_7796\1771179232.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Gender"]=df["Gender"].replace({"F":"Female","M":"Male"})

In [23]:
# Convert Age column into integer type.
df["Age"]=pd.to_numeric(df["Age"],errors="coerce")

C:\Users\patuy\AppData\Local\Temp\ipykernel_7796\3184799753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Age"]=pd.to_numeric(df["Age"],errors="coerce")

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Student_ID             100 non-null    int64
 1   Name                   100 non-null    object
 2   Gender                 100 non-null    object
 3   Age                    68 non-null     float64
 4   Department             100 non-null    object
 5   Semester               100 non-null    int64
 6   Attendance_Percentage  100 non-null    float64
 7   Internal_Marks         100 non-null    int64
 8   External_Marks         100 non-null    float64
 9   Project_Score          100 non-null    int64
 10  Final_Result           100 non-null    object
dtypes: float64(3), int64(4), object(4)
memory usage: 9.4+ KB

In [26]:
# Rename column names into lowercase.
df.columns=df.columns.str.lower()
df

,student_id,name,gender,age,department,semester,attendance_percentage,internal_marks,external_marks,project_score,final_result
0,1001,Student_1,Male,NaN,Computer,3,90.0,52,62.0,66,Fail
1,1002,Student_2,Female,19.0,Civil,1,93.0,38,86.0,93,Pass
2,1003,Student_3,Male,19.0,Computer,6,47.0,41,50.0,56,Fail
3,1004,Student_4,Male,21.0,Civil,5,66.0,30,46.0,48,Fail
4,1005,Student_5,Male,19.0,Mechanical,4,66.0,87,59.0,72,Pass
...,...,...,...,...,...,...,...,...,...,...,...
95,1096,Student_96,Female,NaN,Civil,6,102.0,78,94.0,98,Pass
96,1097,Student_97,Female,NaN,Mechanical,6,58.0,41,84.0,89,Fail
97,1098,Student_98,Female,22.0,Civil,6,97.0,90,62.0,51,Fail
98,1099,Student_99,Female,NaN,Mechanical,6,94.0,48,75.0,40,Fail
99,1100,Student_100,Male,20.0,Mechanical,5,101.0,38,98.0,93,Pass

In [27]:
# Replace attendance values greater than 100 with 100.
df["attendance_percentage"]=pd.to_numeric(df["attendance_percentage"],errors="coerce")
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   student_id             100 non-null    int64
 1   name                   100 non-null    object
 2   gender                 100 non-null    object
 3   age                    68 non-null     float64
 4   department             100 non-null    object
 5   semester               100 non-null    int64
 6   attendance_percentage  100 non-null    float64
 7   internal_marks         100 non-null    int64
 8   external_marks         100 non-null    float64
 9   project_score          100 non-null    int64
 10  final_result           100 non-null    object
dtypes: float64(3), int64(4), object(4)
memory usage: 9.4+ KB

C:\Users\patuy\AppData\Local\Temp\ipykernel_7796\315259415.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["attendance_percentage"]=pd.to_numeric(df["attendance_percentage"],errors="coerce")

In [28]:
df.loc[df['attendance_percentage'] > 100, 'attendance_percentage'] = 100

In [29]:
for i in df["attendance_percentage"]:
    if i > 100:
        print(i)
else:
    print("no value is greater than 100")

no value is greater than 100

In [33]:
# Change Department names to uppercase.
df.department=df.department.str.upper()
df

C:\Users\patuy\AppData\Local\Temp\ipykernel_7796\2530173169.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.department=df.department.str.upper()

,student_id,name,gender,age,department,semester,attendance_percentage,internal_marks,external_marks,project_score,final_result
0,1001,Student_1,Male,NaN,COMPUTER,3,90.0,52,62.0,66,Fail
1,1002,Student_2,Female,19.0,CIVIL,1,93.0,38,86.0,93,Pass
2,1003,Student_3,Male,19.0,COMPUTER,6,47.0,41,50.0,56,Fail
3,1004,Student_4,Male,21.0,CIVIL,5,66.0,30,46.0,48,Fail
4,1005,Student_5,Male,19.0,MECHANICAL,4,66.0,87,59.0,72,Pass
...,...,...,...,...,...,...,...,...,...,...,...
95,1096,Student_96,Female,NaN,CIVIL,6,100.0,78,94.0,98,Pass
96,1097,Student_97,Female,NaN,MECHANICAL,6,58.0,41,84.0,89,Fail
97,1098,Student_98,Female,22.0,CIVIL,6,97.0,90,62.0,51,Fail
98,1099,Student_99,Female,NaN,MECHANICAL,6,94.0,48,75.0,40,Fail
99,1100,Student_100,Male,20.0,MECHANICAL,5,100.0,38,98.0,93,Pass

In [35]:
#Check unique values in Gender and Department columns.
df["gender"].unique()

array(['COMPUTER', 'CIVIL', 'MECHANICAL', 'IT'], dtype=object)

In [36]:
df["department"].unique()

array(['COMPUTER', 'CIVIL', 'MECHANICAL', 'IT'], dtype=object)

In [37]:
#Find average Internal Marks department-wise.
df.groupby("department")["internal_marks"].mean()

department
CIVIL         63.740741
COMPUTER      66.814815
IT            63.520000
MECHANICAL    57.571429
Name: internal_marks, dtype: float64

In [38]:
#Count total students in each department.
df.groupby("department")["student_id"].count()

department
CIVIL         27
COMPUTER      27
IT            25
MECHANICAL    21
Name: student_id, dtype: int64

In [39]:
#Find top 5 students based on Total Marks.
df["total_marks"]=df["internal_marks"]+df["external_marks"]
top_5_df = df.nlargest(5, columns='total_marks')
print(top_5_df)

    student_id        name  gender   age  department  semester  \
13        1014  Student_14    Male  21.0    COMPUTER         6
36        1037  Student_37  Female  21.0    COMPUTER         2
11        1012  Student_12    Male   NaN    COMPUTER         4
83        1084  Student_84  Female  19.0    COMPUTER         1
70        1071  Student_71  Female  20.0  MECHANICAL         1

    attendance_percentage  internal_marks  external_marks  project_score  \
13                   74.0              98            92.0             74
36                   86.0              87            99.0             88
11                   58.0              93            87.0             52
83                   99.0              91            88.0             71
70                  100.0              97            81.0             56

   final_result  total_marks
13         Pass        190.0
36         Pass        186.0
11         Pass        180.0
83         Pass        179.0
70         Pass        178.0

C:\Users\patuy\AppData\Local\Temp\ipykernel_7796\1271026040.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["total_marks"]=df["internal_marks"]+df["external_marks"]

In [45]:
# Find students who failed.
df[df["total_marks"] < 80][["name", "total_marks"]]

          name  total_marks
3    Student_4         76.0
39  Student_40         71.0

In [46]:
#Find highest attendance

higest_attendence=df.nlargest(1, columns='attendance_percentage')
print(higest_attendence)

   student_id       name gender  age department  semester  \
8        1009  Student_9   Male  NaN      CIVIL         3

   attendance_percentage  internal_marks  external_marks  project_score  \
8                  100.0              30            50.0             67

  final_result  total_marks
8         Pass         80.0

In [48]:
# Find student with minimum External Marks.
df.loc[df["external_marks"] == df["external_marks"].min(), ["name", "external_marks"]]

          name  external_marks
55  Student_56            35.0
82  Student_83            35.0

In [49]:
# Find correlation between Internal and External Marks.
df[["internal_marks","external_marks"]].corr()

                internal_marks  external_marks
internal_marks        1.000000       -0.084195
external_marks       -0.084195        1.000000

In [50]:
# Create a new column “Percentage”
df["Percentage"]=(df["total_marks"]/200)*100
df

C:\Users\patuy\AppData\Local\Temp\ipykernel_7796\3009735441.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Percentage"]=(df["total_marks"]/200)*100

,student_id,name,gender,age,department,semester,attendance_percentage,internal_marks,external_marks,project_score,final_result,total_marks,Percentage
0,1001,Student_1,Male,NaN,COMPUTER,3,90.0,52,62.0,66,Fail,114.0,57.0
1,1002,Student_2,Female,19.0,CIVIL,1,93.0,38,86.0,93,Pass,124.0,62.0
2,1003,Student_3,Male,19.0,COMPUTER,6,47.0,41,50.0,56,Fail,91.0,45.5
3,1004,Student_4,Male,21.0,CIVIL,5,66.0,30,46.0,48,Fail,76.0,38.0
4,1005,Student_5,Male,19.0,MECHANICAL,4,66.0,87,59.0,72,Pass,146.0,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1096,Student_96,Female,NaN,CIVIL,6,100.0,78,94.0,98,Pass,172.0,86.0
96,1097,Student_97,Female,NaN,MECHANICAL,6,58.0,41,84.0,89,Fail,125.0,62.5
97,1098,Student_98,Female,22.0,CIVIL,6,97.0,90,62.0,51,Fail,152.0,76.0
98,1099,Student_99,Female,NaN,MECHANICAL,6,94.0,48,75.0,40,Fail,123.0,61.5
99,1100,Student_100,Male,20.0,MECHANICAL,5,100.0,38,98.0,93,Pass,136.0,68.0

In [51]:
# Sort students by External Marks in descending order.
df["external_marks"].sort_values(ascending=False)

30    100.0
36     99.0
99     98.0
58     97.0
57     96.0
      ...
39     38.0
84     37.0
56     37.0
55     35.0
82     35.0
Name: external_marks, Length: 100, dtype: float64

In [52]:
# Group students by Department and calculate average marks.
df.groupby("department")["total_marks"].mean()

department
CIVIL         127.296296
COMPUTER      135.703704
IT            128.800000
MECHANICAL    130.952381
Name: total_marks, dtype: float64

In [53]:
#Find department with highest average attendance.
df.groupby("department")["attendance_percentage"].mean()

department
CIVIL         72.888889
COMPUTER      77.690476
IT            74.905714
MECHANICAL    76.476190
Name: attendance_percentage, dtype: float64

In [55]:
# Use value_counts() on Final_Result column.
df["final_result"].value_counts()

final_result
Pass    51
Fail    49
Name: count, dtype: int64

In [57]:
# Apply function to assign Grade based on Percentage.
def assign_grade(percentage):
    if percentage>=90:
        return 'A'
    elif percentage>=80:
        return 'B'
    elif percentage>=70:
        return 'C'
    elif percentage>=60:
        return 'D'
    else:
        return 'E'
df['Grade']=df['Percentage'].apply(assign_grade)
print(df)

    student_id         name  gender   age  department  semester  \
0         1001    Student_1    Male   NaN    COMPUTER         3
1         1002    Student_2  Female  19.0       CIVIL         1
2         1003    Student_3    Male  19.0    COMPUTER         6
3         1004    Student_4    Male  21.0       CIVIL         5
4         1005    Student_5    Male  19.0  MECHANICAL         4
..         ...          ...     ...   ...         ...       ...
95        1096   Student_96  Female   NaN       CIVIL         6
96        1097   Student_97  Female   NaN  MECHANICAL         6
97        1098   Student_98  Female  22.0       CIVIL         6
98        1099   Student_99  Female   NaN  MECHANICAL         6
99        1100  Student_100    Male  20.0  MECHANICAL         5

    attendance_percentage  internal_marks  external_marks  project_score  \
0                    90.0              52            62.0             66
1                    93.0              38            86.0             93
2                    47.0              41            50.0             56
3                    66.0              30            46.0             48
4                    66.0              87            59.0             72
..                    ...             ...             ...            ...
95                  100.0              78            94.0             98
96                   58.0              41            84.0             89
97                   97.0              90            62.0             51
98                   94.0              48            75.0             40
99                  100.0              38            98.0             93

   final_result  total_marks  Percentage Grade
0          Fail        114.0        57.0     E
1          Pass        124.0        62.0     D
2          Fail         91.0        45.5     E
3          Fail         76.0        38.0     E
4          Pass        146.0        73.0     C
..          ...          ...         ...   ...
95         Pass        172.0        86.0     B
96         Fail        125.0        62.5     D
97         Fail        152.0        76.0     C
98         Fail        123.0        61.5     D
99         Pass        136.0        68.0     D

[100 rows x 14 columns]

In [59]:
# Use loc to select students from IT department.
df.loc[df["department"] == "IT",["name","department"]]

          name department
7    Student_8         IT
9   Student_10         IT
10  Student_11         IT
12  Student_13         IT
15  Student_16         IT
21  Student_22         IT
22  Student_23         IT
25  Student_26         IT
30  Student_31         IT
35  Student_36         IT
42  Student_43         IT
46  Student_47         IT
50  Student_51         IT
55  Student_56         IT
62  Student_63         IT
64  Student_65         IT
67  Student_68         IT
69  Student_70         IT
78  Student_79         IT
79  Student_80         IT
81  Student_82         IT
88  Student_89         IT
89  Student_90         IT
92  Student_93         IT
94  Student_95         IT

In [60]:
#  Use iloc to select first 5 rows and 3 columns.
df.iloc[:5, :3]

   student_id       name  gender
0        1001  Student_1    Male
1        1002  Student_2  Female
2        1003  Student_3    Male
3        1004  Student_4    Male
4        1005  Student_5    Male

In [61]:
# Merge this dataset with another dataset (create dummy dataset for practice).
cloned_df = df.copy(deep=True)

In [62]:
merged_df = pd.merge(df, cloned_df, on='name', how='inner')

In [63]:
merged_df

,student_id_x,name,gender_x,age_x,department_x,semester_x,attendance_percentage_x,internal_marks_x,external_marks_x,project_score_x,...,department_y,semester_y,attendance_percentage_y,internal_marks_y,external_marks_y,project_score_y,final_result_y,total_marks_y,Percentage_y,Grade_y
0,1001,Student_1,Male,NaN,COMPUTER,3,90.0,52,62.0,66,...,COMPUTER,3,90.0,52,62.0,66,Fail,114.0,57.0,E
1,1002,Student_2,Female,19.0,CIVIL,1,93.0,38,86.0,93,...,CIVIL,1,93.0,38,86.0,93,Pass,124.0,62.0,D
2,1003,Student_3,Male,19.0,COMPUTER,6,47.0,41,50.0,56,...,COMPUTER,6,47.0,41,50.0,56,Fail,91.0,45.5,E
3,1004,Student_4,Male,21.0,CIVIL,5,66.0,30,46.0,48,...,CIVIL,5,66.0,30,46.0,48,Fail,76.0,38.0,E
4,1005,Student_5,Male,19.0,MECHANICAL,4,66.0,87,59.0,72,...,MECHANICAL,4,66.0,87,59.0,72,Pass,146.0,73.0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1096,Student_96,Female,NaN,CIVIL,6,100.0,78,94.0,98,...,CIVIL,6,100.0,78,94.0,98,Pass,172.0,86.0,B
96,1097,Student_97,Female,NaN,MECHANICAL,6,58.0,41,84.0,89,...,MECHANICAL,6,58.0,41,84.0,89,Fail,125.0,62.5,D
97,1098,Student_98,Female,22.0,CIVIL,6,97.0,90,62.0,51,...,CIVIL,6,97.0,90,62.0,51,Fail,152.0,76.0,C
98,1099,Student_99,Female,NaN,MECHANICAL,6,94.0,48,75.0,40,...,MECHANICAL,6,94.0,48,75.0,40,Fail,123.0,61.5,D
99,1100,Student_100,Male,20.0,MECHANICAL,5,100.0,38,98.0,93,...,MECHANICAL,5,100.0,38,98.0,93,Pass,136.0,68.0,D