# 1)Create a list of 10 numbers and print only even numbers.

In [4]:
lst=[1,2,3,4,5,6,7,8]

for num in lst:
    if num %2 == 0:
        print(num)

2
4
6
8

# 2)Find the largest and smallest number in a list.

In [5]:
lst=[1,2,3,4,5,6,7,8]

largest=list[0]
smallest=list[0]

for num in lst:
    if num>largest :
        largest=num
    if num<smallest :
        smallest=num

print("Largest : ",largest)
print("Smallest : ",smallest)

Largest :  8
Smallest :  1

# 3)Count how many times a particular item appears in a list.

In [6]:
lst=[1,2,3,2,3,4,2,5]
num=2

a=lst.count(num)

print(a)

3

# 4)Reverse a list without using reverse() function.

In [7]:
lst=[1,2,3,2,3,4,2,5]

rev=list[::-1]
print(rev)

[8, 7, 6, 5, 4, 3, 2, 1]

# 5)Take 5 numbers from user and store them in a lists

In [11]:
lst=[]

for i in range(5) :
    num=int(input("Enter a number : "))
    lst.append(num)

print(lst)

Enter a number :  5
Enter a number :  4
Enter a number :  3
Enter a number :  2
Enter a number :  1

[5, 4, 3, 2, 1]

# 6)Remove duplicates from a list.

In [17]:
numbers=[1,2,3,2,3,4,2,5]
unique_lst=[]

for num in numbers:
    if num not in unique_lst:
        unique_lst.append(num)


print(unique_lst)

[1, 2, 3, 4, 5]

# 7) Find sum and average of list items.

In [18]:
lst=[1,2,3,4,5,6,7,8]
total=0
avg=0
for num in list:
    total+=num

avg=total/len(lst)

print("Sum : ",total)
print("Average : ",avg)

Sum :  36
Average :  4.5

# 8) Separate even and odd numbers into two lists.

In [20]:
lst=[1,2,3,4,5,6,7,8]
even=[]
odd=[]
for num in lst:
    if num %2 == 0:
        even.append(num)
    else:
        odd.append(num)

print("Even : ",even)
print("Odd : ",odd)

Even :  [2, 4, 6, 8]
Odd :  [1, 3, 5, 7]

# 9) Sort list without using sort() function.

In [21]:
numbers = [6,8,3,2,5,9]

for i in range(len(numbers)):
    for j in range(i + 1, len(numbers)):
        if numbers[i] > numbers[j]:
            numbers[i], numbers[j] = numbers[j], numbers[i]

print(numbers)

[2, 3, 5, 6, 8, 9]

# 10) Check whether a number exists in a list or not.

In [24]:
numbers = [6,8,3,2,5,9]
num=8
if num in numbers:
    print("Number exist in list")
else:
    print("Number not exist in list")

Number exist in list

# 11) Merge two lists index-wise (L1[i] + L2[i]).

In [27]:
L1=[2,3,4,5,6]
L2=[20,30,40,50,60]
merged=[]

for i in range(len(L1)):
    merged.append(L1[i] + L2[i])

print(merged)

[22, 33, 44, 55, 66]

# 12) Rotate a list (last element becomes first).

In [29]:
numbers = [1, 2, 3, 4, 5]

last_element = numbers[-1]

rotated_list = [last_element]

for i in range(len(numbers) - 1):
    rotated_list.append(numbers[i])

print(rotated_list)

[5, 1, 2, 3, 4]

# 13) Find the second largest number in a list.

In [ ]:
numbers = [4,3,5,3,6,9,8]

numbers.sort()
print(numbers[-2])

8

# 14) Create a nested list and print all elements using loops.

In [34]:
nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for sublist in nested_list:
    for items in sublist:
        print(items)

1
2
3
4
5
6
7
8
9

# 15) Convert list of lists into a single list (flatten list).

In [35]:
nested_list = [[1, 2], [3, 4], [5, 6]]
flat_list = []

for sublist in nested_list:
    for item in sublist:
        flat_list.append(item)

print(flat_list)

[1, 2, 3, 4, 5, 6]